{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block contenido %}
{{parent ()}}
<div class="page-header">    
    <div id="banner" class="page-header">
        <div class="row">
            <div id="logo"></div>
{#            <img src="/assets/example/bg_dogcat.jpg" class="img-responsive">#}
        </div>
    </div>

</div>
{% endblock %}
