{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block contenido %}
<h1>Edicion Tipo Trabajo</h1>
<div class="well bs-component col-lg-10">
    <form class="form-horizontal" action="{{ path('tipo_trabajo_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        <fieldset>    
{{ form_widget(form) }}
        </fieldset>
        <div class="record_actions pull-right">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <a class="btn btn-default" href="{{ path('tipo_trabajo') }}">
                Volver
            </a>

        </div>

    </form>
</div>

{%endblock%}