{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block contenido %}
<h1>Editar Carrera</h1>
<div class="well bs-component col-lg-10">
    <form class="form-horizontal" action="{{ path('carrera_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>    
{{ form_widget(form) }}
        </fieldset>
        <div class="record_actions pull-right">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <a class="btn btn-default" href="{{ path('carrera_homepage') }}">
                Volver
            </a>

        </div>
</form>
</div>

{%endblock%}